footer {
    padding-top: 50px;
    padding-bottom: 20px;
}

.footerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.footerlogo {
    gap: 5px;
}

.icons {
    width: 20px;
    height: 20px;
    background-color: rgba(117, 142, 223, 0.819);
    border-radius: 50%;
    padding: 5px;
}

.ftlink {
    list-style: none;
    margin: 0px;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
    padding-bottom: 10px;
}

p {
    padding-bottom: 10px;
}